<div class="section">
    <h2 class="page-header">New Genre</h2><br>
    <form action="/genre" method="POST">
        <%- include('_genre_form') %>
        
        <br>
        <div>
            <a class="site-btn" style="background-color: red;" href="/genre">Cancel</a>
            <button class="site-btn" type="submit">Create</button>
        </div>
    </form>
</div>