<div>
    <h2 class="page-header"><%= genre.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/genre/<%= genre.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/genre/${genre.id}` }) %>
</div>
<% if (reviewsByGenre.length > 0) { %>
  <h2 class="page-header">Reviews By Genre</h2>
  <%- include('../partials/reviewGrid', { Reviews: reviewsByGenre }) %>
<% } %>
</div>