<!-- Header section -->
<header class="header-section">
    <a href="/" class="site-logo">
        Quarentine-Games
    </a>
    <ul class="main-menu">
        <li>
            <a href="/genre">Genres</a>
        </li>
        
        <li>
            <a href="/review/new">New Game</a>
        </li>

        <li>
            <a href="/login" class="logged-out">Sign-in</a>
        </li>

        <li>
            <a href="#" id="logout" class="logged-in">Logout</a>
        </li>
    </ul>
    <div class="header-add">
        <img src="/images/bann.png" alt="">
    </div>
</header>