<% reviews.forEach(review => { %>
    <div class="coll-container">
        <div class="collapsible-header">
            <p><%= review.title %></p>
            <p><%= review.score %> </p>
        </div>
        
        
    </div>
<% }) %>