  <h2 class="page-header">New Review</h2>
<form action="/reviews" method="POST">
  <%- include('createForm') %>
  <div class="form-row form-row-end btn-row">
    <a class="site-btn" href="/reviews">Cancel</a>
    <button class="site-btn" type="submit">Create</button>
  </div>
</form>