<section class="blog-list-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <h2>404 ERROR!</h2>
            <p>Page Not Found</p>
        </div>
    </div>
</section>