<section class="top-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <h2>500 ERROR!</h2>
            <p>Server Error</p>
        </div>
    </div>
</section>