
	<!-- Top Carousel -->
	<section class="top-section">
		<div class="top-slider owl-carousel">
			
			<!-- Image 1 - Resident Evil 2 -->
			<div class="top-item set-bg" data-setbg="images/slider/1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Fear the Dark</h2>
							<p>
								Enter the terrifying worlds of Resident Evil 2: Remake, fight for survival on the Ishimura
								in Dead Space, or flee the vicious Xenomorph in Alien Isolation. 
							</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Image 2 - DOOM Eternal -->
			<div class="top-item set-bg" data-setbg="images/slider/2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Fight Like Hell</h2>
							<p>
								Fight the forces of hell in shooters such as DOOM Eternal, or jump into the boots of 
								a soilder in Call of Duty Modern Warfare or Rainbow Six: Siege. Or take a dive
								into the unusual with games such as Bright Memory.
							</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Image 3 - Persona 5 Royal -->
			<div class="top-item set-bg" data-setbg="images/slider/3.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Epic RPGs</h2>
							<p>
								Live the way you want and meet deep and interesting characters in games like the excellent Persona 5 Royal, 
								the amazing Witcher 3: Wild Hunt, or return to classics such as The Elder Scrolls V: Skyrim
							</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<!-- Blog list section -->
	<section class="blog-list-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="small-blog-list">
						<!-- Fetch from DB -->
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog list section end -->