<div class="col-lg-3 col-md-5 col-sm-3 registerForm">
	<div>
		<h4>Register</h4>
	</div>

	<form id="register-form">
		<div class="input-field">
			<label for="email">Email Address:</label><br>
			<input type="email" id="email" placeholder="Email" name="email" autocomplete="on" required />
		</div>

		<div class="input-field">
			<label for="username">Username:</label><br>
			<input type="text" id="username" placeholder="Username" name="username" autocomplete="off" required />
		</div>

		<div class="input-field">
			<label for="password">Password:</label><br>
			<input type="password" id="password" placeholder="Password" name="password" autocomplete="off" required />
		</div>

		<br>

		<button id="btn-reg" class="site-btn">Register</button>
	</form>

	<br><br>

	<h5>Have an account? Sign in here:</h5>
	<a href="login" class="toggle-btn">Login</a>

</div>
