<div class="section">
  
  <h2 >New Review</h2>
  <form action="/review" method="POST">
    <%- include('_review_form') %>
    <div class="form-row form-row-end btn-row">
      <a class="site-btn" href="/review">Cancel</a>
      <button class="site-btn" type="submit">Create</button>
    </div>
  </form>
</div>

  